# Ignore Assignment 1 so we can focus on Assignment 2
ImageSeach_demo

# Ignore assignment requirements
Assigm1--MMRetrieval-CS2108-Sep2016.doc
readme.pdf

# Ignore datasets
ImageData*
FeatureExtractor/*
ImageSeach_demo/dataset*
ImageSeach_demo/queries*
ImageSeach_demo/semanticFeature*

# Ignore misc
ImageSeach_demo/example.png
*.mat
ImageSeach_demo/visual_keyword_des_dataset_images.txt
