# Ignore assignment requirements
Assigm1--MMRetrieval-CS2108-Sep2016.doc
readme.pdf

# Datasets to ignore 
ImageData*
FeatureExtractor/*
ImageSeach_demo/dataset*
ImageSeach_demo/queries*
ImageSeach_demo/example.png
